body {
    background-color: lightgray;
}

score {
    color: white;
}

#board {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
    height: 80vh;
    width: 80vw;
}

#leftBoard {
    background-color: red;
    border-right: 5px dashed white;
}

#rightBoard {
    display: flex;
    background-color: green;
    justify-content: flex-end;
}

.paddle {
    background: white;
    position: absolute;
    width: 20px;
    height: 5rem;
}