body {
    background-color: rgb(236, 231, 231);
}

score {
    color: white;
}

#board {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
    height: 90vh;
    width: 80vw;
}

#leftBoard {
    background-color: black;
    border-right: 5px dashed rgb(236, 231, 231);

}

#rightBoard {
    display: flex;
    background-color: black;
    justify-content: flex-end;
}

.paddle {
    background: rgb(236, 231, 231);
    position: absolute;
    width: 20px;
    height: 160px;

}

#ball {
    background: rgb(236, 231, 231);
    position: absolute;
    border-radius: 1px;
    width: 20px;
    height: 20px;
}

#scoreBoxLeft {
    position: absolute;
    top: 8rem;
    width: 10rem;
    color: rgb(236, 231, 231);
    height: 5rem;
    font-size: 3.3rem;
    left: 33vw;
}

#scoreBoxRight {
    position: absolute;
    top: 8rem;
    width: 10rem;
    color: rgb(236, 231, 231);
    height: 5rem;
    font-size: 3.3rem;
    left: 47vw;
}

